@font-face {
    font-family: "elf";
    src: url("../fonts/HalfElven-gzj4.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    background-color: wheat;
    color: green;
    top: 0;
    left: 0;
    width: 100%;
}


.navbar{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background-color: green;
    color: wheat;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.nav {
    
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}


.logo {
    font-family: "elf";
    width: 220px;
    text-align: center;
    font-size: x-large;
}

.nav-items {
    display: flex;
    align-items: center;

}

.nav-buttons {
    margin-left: 20px;

}

.nav-buttons a {
    margin-left: 20px; 
}

.nav-buttons a img{
    width: 30px;
}

.links-container{
    width: 100%;
    display: flex;
    padding: 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;
}

.link{
    text-transform: capitalize;
    font-family: "elf";
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    opacity: 0.5;
    transition: .5s;
}

.link:hover{
    opacity: 1;
}

.main {
    margin: 1%;
    background-color: wheat;
    height: 75%;
    border-color: green;
    border-width: 2px;
    height: 360px;
    border-style: solid;
}

.footer {
    border-color: green;
    border-width: 2px;
    height: 25%;
    border-style: solid;
    margin: 1%;
}